<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text navbar-left pull-left">
                    <a href="#/user/{{model.uid}}"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left pull-left nav-glyphicon"></span>
                    </a>
                </p>
                <a class="navbar-brand">
                    Search Images
                </a>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="input-group search">
        <input ng-model="imageurl"
               type="text"
               class="form-control"
               placeholder="Search images using url">
        <span class="input-group-btn">
            <a ng-click="model.searchPhotos(imageurl)"
               class="btn btn-default"
               type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>


    <div class="container-fluid">
                <a  href="#/project/home/user/{{model.user._id}}">
                    {{model.user.username}}
                </a>

    </div>


    <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-right">
                    <a href="#/project/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user nav-glyphicon"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>