<style>
    .btn-xl {

        font-size: 20px;
        float: left;
        width:130px;
        max-width:220px;
        margin:5px;
    }


</style>

<div class="container-fluid">

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <header>
        <h2>
            Login here:
        </h2>
    </header>

    <form name="form" role="form">
        <div class="form-group"
             ng-class="{ 'has-error': form.username.$error.required && model.submitted}">
            <input ng-model="username"
                   name="username"
                   type="text"
                   class="form-control"
                   placeholder="username"
                   style="width:415px;"
                   autocomplete="off"
                   autocorrect="off"
                   autocapitalize="off"
                   spellcheck="false"
                   required/>
            <span ng-show="form.username.$error.required && model.submitted"
                  class="help-block">
                Username is required
            </span>

        </div>

        <div class="form-group"
             ng-class="{ 'has-error': form.password.$error.required && model.submitted}">
            <input ng-model="password"
                   name="password"
                   id="password"
                   type="password"
                   style="width:415px;"
                   class="form-control"
                   placeholder="password"
                   required/>
            <span ng-show="form.password.$error.required && model.submitted"
                  class="help-block">
                Password is required
            </span>
        </div>

        <a  ng-click="model.login(username, password)"
            class="btn btn-block btn-primary btn-xl">
            Login
        </a>

        <a  class="btn btn-block btn-success btn-xl"
            href="#/register">
            Register
        </a>

        <a href="/auth/project/facebook" class="btn btn-primary btn-block btn-xl">
            <span class="fa fa-facebook"></span>
            Facebook
        </a>

    </form>
</div>