<style>
        .btn-xl {

                font-size: 20px;
                float: left;
                width:120px;
                max-width:220px;
                margin:5px;
        }


</style>

<div class="container-fluid">
        <div ng-if="model.error"
             class="alert alert-danger">
                {{model.error}}
        </div>
        <header>
                <h2>
                        Login here:
                </h2>
        </header>

        <form>
                <div class="form-group">
                        <input ng-model="username"
                               type="text"
                               class="form-control"
                               placeholder="username"
                               style="width:260px;"/>
                </div>

                <div class="form-group">
                        <input ng-model="password"
                               id="password"
                               type="password"
                               class="form-control"
                               placeholder="password"
                               style="width:260px;"/>
                </div>

                <div>
                        <a  ng-click="model.login(username, password)"
                        class="btn btn-primary btn-xl">
                                Login
                        </a>

                        <a  class="btn btn-block btn-success btn-xl"
                        href="#/register">
                                Register
                        </a>
                </div>

        </form>
</div>