<header>
    <nav class="navbar navbar-default navbar-fixed-top page-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#page-top"><p class="fonts">Profile</p></a>
                           <p class="navbar-text navbar-right">
                    <a ng-click="model.updateUser()"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok pull-right nav-glyphicon"></span>
                    </a>
                </p>

            </div>
        </div>
    </nav>

</header>



<body>
<div class="container-fluid login-body">


    <div ng-show="model.success"
         class="alert alert-success">
        {{model.success}}
    </div>

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   id="username"
                   type="text"
                   class="form-control"
                   placeholder="Username"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input ng-model="model.user.email"
                   id="email"
                   type="email"
                   class="form-control"
                   placeholder="E-mail"/>
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   id="first-name"
                   type="text"
                   class="form-control"
                   placeholder="first-name"/>
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   id="last-name"
                   type="text"
                   class="form-control"
                   placeholder="last-name"/>
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input ng-model="model.user.Description"
                   id="Description"
                   type="text"
                   class="form-control"
                   placeholder="Description"/>
        </div>
        <div class="form-group">
            <label for="ImageURL">ImageURL</label>
            <div ng-if="!model.user.facebook">
            <input ng-model="model.user.imageurl"
                   id="ImageURL"
                   type="text"
                   class="form-control"
                   placeholder="ImageURL"/>
            </div>
        </div>
        <a  class="btn btn-block btn-primary"
            href="#/project/user/{{model.user._id}}/search_images">
            Search
        </a>
        <a  class="btn btn-block btn-danger"
            href="#/login">
            Logout
        </a>
        <a  ng-click="model.unRegister()"
            class="btn btn-block btn-danger">
            Unregister
        </a>
    </form>
</div>
</body>


<footer class="text-center">
    <nav class="navbar navbar-default navbar-fixed-bottom footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <p class="fonts text-used">Copyright &copy; Ravi 2016</p>
                </div>
            </div>
        </div>
    </nav>
</footer>