<style>
    .btn-xl {

        font-size: 20px;
        float: left;
        width:130px;
        max-width:220px;
        margin:5px;
    }


</style>

<div class="container-fluid">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <header>
        <h2>
            Register here:
        </h2>
    </header>

    <form>
        <div class="form-group">
            <input ng-model="username"
                   type="text"
                   style="width:415px;"
                   class="form-control"
                   placeholder="username"/>
        </div>

        <div class="form-group">
            <input ng-model="password"
                   type="password"
                   style="width:415px;"
                   class="form-control"
                   placeholder="password"/>
        </div>

        <div class="form-group">
            <input ng-model="verifypassword"
                   type="password"
                   style="width:415px;"
                   class="form-control"
                   placeholder="verify password"/>
        </div>

        <div class="form-group">
            <input ng-model="imageurl"
                   id="imageurl"
                   type="text"
                   style="width:415px;"
                   class="form-control"
                   placeholder="www.exampleimage.com/image"/>
        </div>

        <a  class="btn btn-block btn-primary btn-xl"
            ng-click="model.register(username, password, verifypassword,imageurl)">
            Register
        </a>

        <a  class="btn btn-block btn-danger btn-xl"
            href="#/login">
            Cancel
        </a>
    </form>
</div>