
<header>
    <nav class="navbar navbar-default navbar-fixed-top page-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#page-top"><p class="fonts">Home</p></a>
            </div>


            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>


<div ng-show="model.success"
     class="alert alert-success">
    {{model.success}}
</div>

<div ng-show="model.error"
     class="alert alert-danger">
    {{model.error}}
</div>

<div class="container">
    <div class="row">

        <!-- code start -->
        <div class="twPc-div">
            <a class="twPc-bg twPc-block"></a>

            <div>
                <div class="twPc-button">
                    <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->
                    <a ng-click="model.followUser()" href="#/project/home/user/{{model.user._id}}" class="glyphicon glyphicon-plus" data-show-count="false" data-size="large" data-show-screen-name="false" data-dnt="true" style="font-size:18px">Follow</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    <!-- Twitter Button -->
                </div>

                <a ng-click="model.checkUser()"  class="twPc-avatarLink">
                    <!--<img alt="Mert Salih Kaplan" src="https://pbs.twimg.com/profile_images/378800000352678934/34f9e192635975bf42e534434e2b6273_bigger.jpeg" class="twPc-avatarImg">-->
                    <img ng-src="{{model.user.imageurl}}" class="twPc-avatarImg"/>
                </a>


                <div class="twPc-divUser">
                    <div class="twPc-divName">
                        <a href="#/project/user/{{model.user._id}}">{{model.user.firstName}} {{model.user.lastName}}</a>
                    </div>
			<span>
				<a ng-click="model.checkUser()"  style="font-size:20px">@<span>{{model.user.username}}</span></a>
			</span>
                </div>

                <div>
                    <p style="font-size:20px"><br><br>{{model.user.Description}}<br></p>
                </div>

                <div class="twPc-divStats">
                    <ul class="twPc-Arrange">

                        <li class="twPc-ArrangeSizeFit">
                            <a href="#/project/home/user/following/{{model.user._id}}" >
                                <span class="twPc-StatLabel twPc-block">Following</span>
                                <span class="twPc-StatValue">{{model.FollowingCount}}</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <a href="#/project/home/user/followers/{{model.user._id}}" >
                                <span class="twPc-StatLabel twPc-block">Followers</span>
                                <span class="twPc-StatValue">{{model.FollowerCount}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- code end -->
    </div>
</div>


<footer class="text-center">
    <nav class="navbar navbar-default navbar-fixed-bottom footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" align="center">
                    <p class="fonts text-used">Copyright &copy; Ravi 2016</p>
                </div>
            </div>
        </div>
    </nav>
</footer>




