<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    My Home
                </a>
            </div>
        </div>
    </nav>
</header>
{{model.user}}
<div class="container-fluid">
    <div id="main">
        <div align="left" id="left">
            <img ng-src="{{model.user.imageurl}}" height="100" width="100"/>
        </div>
        <div>
        <a  href="#/project/user/{{model.user._id}}" class="username">
                    {{model.user.username}}
        </a>
        </div>
        <div align="right" id="right">
            <h5>FirstName:{{model.user.firstName}}</h5>
            <h5>LastName:{{model.user.lastName}}</h5>
        </div>
    <a ng-click="model.followUser()" ><span class="glyphicons glyphicons-user-vr-add"></span></a>
    </div>
</div>


<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-right">
                    <a href="#/project/user/{{model.user._id}}">
                        <span class="glyphicon glyphicon-user nav-glyphicon"></span>
                    </a>
                </div>
                <div class="navbar-header">
                    <div class="navbar-text pull-left">
                        <a class="navbar-brand" ng-click="model.followUser()" href="#/project/home/user/{{model.user._id}}">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</footer>

