<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text navbar-left pull-left">
                    <a href="#/user/{{model.uid}}/website"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left pull-left nav-glyphicon"></span>
                    </a>
                </p>
                <a class="navbar-brand">
                    Edit Website
                </a>
                <p class="navbar-text navbar-right">
                    <a ng-click="model.updateWebsite()"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok pull-right nav-glyphicon"></span>
                    </a>
                </p>

            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">

    <div ng-if="model.error"
         class="alert alert-danger"
         role="alert">
        {{model.error}}
    </div>

    <form name="form" role="form">
        <div class="form-group"
             ng-class="{ 'has-error': form.name.$error.required && model.submitted}">
            <label for="websiteName">Website Name</label>
            <input ng-model="model.website.name"
                   name="name"
                   id="websiteName"
                   type="text"
                   class="form-control"
                   placeholder="Lorem Ipsum"
                   required/>
            <span ng-show="form.name.$error.required && model.submitted"
                  class="help-block">
                Website name is required
            </span>
        </div>

        <div class="form-group">
            <label for="description">Website Description</label>
                <textarea rows="3"
                          ng-model="model.website.description"
                          id="description"
                          class="form-control"
                          placeholder="Lorem ipsum dolor sit amet..."></textarea>
        </div>

        <a  class="btn btn-block btn-danger"
            ng-click="model.deleteWebsite()">
            Delete
        </a>
    </form>
</div>

<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">

                <div class="navbar-text pull-left">
                    <a href="">
                        <span class="glyphicon glyphicon-share-alt nav-glyphicon"></span>
                    </a>
                </div>

                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user nav-glyphicon"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>