<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text navbar-left pull-left">
                    <a href="#/user/{{model.uid}}/website"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left pull-left nav-glyphicon"></span>
                    </a>
                </p>
                <a class="navbar-brand">
                    New Website
                </a>
                <p class="navbar-text navbar-right">
                    <a ng-click="model.createWebsite(name, description)"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-ok pull-right nav-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <form>
        <div class="form-group">
            <label for="name">Website Name</label>
            <input ng-model="name"
                   id="name"
                   type="text"
                   class="form-control"
                   placeholder="Name"/>
        </div>

        <div class="form-group">
            <label for="description">Website Description</label>
            <textarea rows="3"
                      ng-model="description"
                      id="description"
                      class="form-control"
                      placeholder="Description"></textarea>
        </div>
    </form>
</div>

<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">

                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user nav-glyphicon"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>