input.form-control {
    margin-bottom: 5px;
}
html{
    overflow-y: scroll;
}
body {
    padding-top: 60px;
    padding-bottom : 60px;
}

.username{
    margin-left: 30px;
    margin-right: 15px;
}

.nav-glyphicon{
    margin-left: 15px;
    margin-right: 15px;
}
p.navbar-text.pull-right {
    margin-right: 15px;
}

p.nav-text.pull-middle{
    margin-right: 45px;
    margin-left: 45px
}

.nav-brand.userFollowing{
    margin-left: 100px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}
.text-used{
    margin-top: 15px;
}

.left{
    float: left;
}
.right{
    float: left;
}
.jga-widget-tool {
    z-index: 1000;
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
}

.twPc-div {
    margin-left:auto;
    margin-right:auto;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: 500px;
    max-width: 800px; // orginal twitter width: 290px;
}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 40%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 125px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}
.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}
.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 10px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 150px;
    width: 150px;
}
.twPc-divUser {
    margin: 40px 0 0;
}
.twPc-divName {
    font-size: 25px;
    font-weight: 700;
    line-height: 21px;
}
.twPc-divName a {
    color: inherit !important;
}
.twPc-divStats {
    margin-left: 15px;
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: center;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 25px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 15px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}


.page-top{
background: #2c3e50;
}



p.fonts {
    color: #FFFFFF;
}


.login-body  {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.login-footer {
    color: #fff;
    position:relative;
    width: 100%;

}

footer h3 {
    margin-bottom: 30px;
}



.footer-below {
    background-color: #233140;
}
