<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text navbar-left pull-left">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left pull-left nav-glyphicon"></span>
                    </a>
                </p>
                <a class="navbar-brand">
                    Widgets
                </a>
                <p class="navbar-text navbar-right">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-plus pull-right nav-glyphicon"></span>
                    </a>
                </p>
            </div>
        </div>
    </nav>
</header>


<div class="container-fluid" >
        <div ng-repeat="widget in model.widgets | orderBy : 'order'"
             ng-switch="widget.type">
            <div class="jga-widget-tool">
                <a  href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify widget-handle"></span>
            </div>

            <div ng-switch-when="HEADER"
                 class="widget" wam-sortable wam-callback="model.sorted(start, end)" data="model.widgets">
                <div ng-switch="widget.size" wam-sortable sorted="model.sorted(start, end)" data="model.widgets">
                    <h1 ng-switch-when="1">{{widget.text}}</h1>
                    <h2 ng-switch-when="2">{{widget.text}}</h2>
                    <h3 ng-switch-when="3">{{widget.text}}</h3>
                    <h4 ng-switch-when="4">{{widget.text}}</h4>
                    <h5 ng-switch-when="5">{{widget.text}}</h5>
                    <h6 ng-switch-when="6">{{widget.text}}</h6>
                    <h1 ng-switch-default>{{widget.text}}</h1>
                </div>
            </div>

            <div ng-switch-when="IMAGE"
                 class="widget" wam-sortable wam-callback="model.sorted(start, end)" data="model.widgets">
                <img ng-src="{{widget.url}}"
                     width="{{widget.width}}"/>
            </div>

            <div ng-switch-when="HTML"
                 ng-bind-html="model.getTrustedHTML(widget)"
                 class="widget" wam-sortable wam-callback="model.sorted(start, end)" data="model.widgets">
            </div>

            <div ng-switch-when="YOUTUBE"
                 class="youtube-widget">
                <iframe class="embed-responsive-item"
                        width="{{widget.width}}"
                        height="{{widget.height}}"
                        ng-src="{{model.getTrustedURL(widget)}}"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>

            <div ng-switch-when="TEXT" wam-sortable wam-callback="model.sorted(start, end)" data="model.widgets">
                <div ng-if="widget.formatted"
                     text-angular
                     ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                                ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                                ['indent','outdent'],['html']]">
                </div>
                <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                       ng-model="widget.text"
                       placeholder="{{widget.placeholder}}"
                       class="form-control"/>
                <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                          rows="{{widget.rows}}"
                          placeholder="{{widget.placeholder}}"
                          class="form-control">{{widget.text}}</textarea>
            </div>

            <div ng-switch-default wam-sortable wam-callback="model.sorted(start, end)" data="model.widgets">{{widget.type}}</div>
        </div>
    </div>




<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-left">
                    <a href="" class="navbar-link">
                        <span class="glyphicon glyphicon-play nav-glyphicon"></span>
                    </a>
                </div>
                <div class="navbar-text pull-left">
                    <a href="" class="navbar-link">
                        <span class="glyphicon glyphicon-eye-open nav-glyphicon"></span>
                    </a>
                </div>

                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user nav-glyphicon"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>