<div class="container-fluid">
    <form>
        <div class="form-group">

            <label for="widget-name">Name</label>
            <input ng-model="model.widget.name"
                   id="widget-name"
                   type="text"
                   class="form-control"
                   placeholder="My Youtube Video Name"/>
        </div>

        <div class="form-group">
            <label for="widget-text">Text</label>
            <input ng-model="model.widget.text"
                   id="widget-text"
                   type="text"
                   class="form-control"
                   placeholder="My Youtube Video Text"/>
        </div>

        <div class="form-group">
            <label for="widget-url">URL</label>
            <input ng-model="model.widget.url"
                   id="widget-url"
                   type="text"
                   class="form-control"
                   placeholder="https://youtu.be/xxxxxxxxxx"/>
        </div>

        <div class="form-group">
            <label for="widget-width">Width</label>
            <input ng-model="model.widget.width"
                   id="widget-width"
                   type="text"
                   class="form-control"
                   placeholder="100%"/>
        </div>

        <a  ng-click="model.deleteWidget()"
            class="btn btn-block btn-danger">
            Delete
        </a>
    </form>
</div>