<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    Websites
                </a>
                <p class="navbar-text navbar-right">
                    <a href="#/user/{{model.uid}}/website/new"
                       class="navbar-link">
                        <span class="glyphicon glyphicon-plus pull-right ajc-nav-glyphicon"></span>
                    </a>
                </p>

            </div>
        </div>
    </nav>
</header>


<div class="container-fluid">

    <ul class="list-group">
        <li ng-repeat="website in model.websites"
            class="list-group-item">
            <span class="glyphicon glyphicon-play pull-right"></span>

            <a  href="#/user/{{website.developerId}}/website/{{website._id}}">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
            <a  href="#/user/{{website.developerId}}/website/{{website._id}}/page">
                {{website.name}}
            </a>
        </li>
    </ul>
</div>

<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">

                <div class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user ajc-nav-glyphicon"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</footer>